include README.md

recursive-include FourDExplorer/ui/resources/icons *.png *.ico

recursive-include FourDExplorer/ui/resources/images *.png

recursive-include FourDExplorer/ui/resources/themes/dark *.xml
recursive-include FourDExplorer/ui/resources/themes/light *.xml

recursive-include FourDExplorer/schema/MetaStructures *.json

recursive-include FourDExplorer/models *.onnx

prune dist
prune build
prune *.egg-info
